/* ハンバーガーメニュー */
#hamburger-menu {
    display: none; /* 初期状態では非表示 */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}

#hamburger-menu span {
    background-color: #fff;
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
}

/* スマホ版用スタイル */
@media screen and (max-width: 768px) {
    /* ヘッダーのナビゲーションを非表示にし、ハンバーガーメニューを表示 */
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 60px;
        background-color: #333;
        padding: 10px;
        width: 200px;
    }

    nav ul.open {
        display: flex;
    }

    #hamburger-menu {
        display: flex;
    }

    header {
        justify-content: space-between;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

    nav ul li a:hover {
        color: #ddd;
    }
}
