/* 全ての要素に対する基本設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ボディの基本スタイル */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    padding-top: 80px;
}

/* ヘッダーのデザイン */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px; /* パディングを調整 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ヘッダー内の画像 */
header img {
    max-height: 50px; /* 画像の高さを調整 */
    height: auto;
    width: auto;
}

/* ナビゲーションのリスト */
nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

/* ナビゲーションのリストアイテム */
nav ul li {
    margin-left: 20px;
}

/* ナビゲーションのリンク */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: background 0.3s ease;
}

/* ナビゲーションのリンクホバー時 */
nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* タイトルロゴ */
.logo {
    text-align: center;
    margin: 100px 0; /* ヘッダー分のスペースを確保 */
}

/* タイトルロゴ */
.logo img {
    width: 50%;
    max-width: 50%;
    height: auto;
    object-fit: contain;
}

/* ストーリーセクション */
.story {
    text-align: center;
    margin-bottom: 40px;
}

/* ストーリー画像 */
.story img {
    min-width: 50%;
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
}

/* 遊び方 */
.how-to-play {
    text-align: center;
    margin-bottom: 40px;
}

/* 遊び方の画像 */
.how-to-play img {
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
}

/* ゲームの進め方 */
#section-game-flow {
    margin-bottom: 0.5%;
}

.game-flow {
    text-align: center;
    margin-bottom: 10%;
}

/* ゲームの進め方の画像 */
.game-flow img {
    max-width: 70%;
    height: auto;
    margin-bottom: -5%;
}

/* エンディング */
.ending {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

/* エンディングの画像 */
.ending img {
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
}

/* エンディング内のQRコードを縦並びにする */
.ending .qr-codes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* 水平方向のセンタリング */
    gap: 10%; /* 項目間の間隔を広げる */
}

/* QRコードの各項目 */
.ending .qr-codes div {
    margin-bottom: 20px;
    text-align: center; /* 各項目の内容を中央揃え */
}

/* ダウンロードセクション */
.download {
    text-align: center;
    margin-bottom: 40px;
}
/* ダウンロードボタン画像 */
.pdf-download {
    position: relative;
    display: inline-block;
}
.pdf-download img {
    min-width: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: opacity 0.3s ease; /* 画像の切り替えをスムーズにするためのトランジション */
}
.pdf-download img.download-btn-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%; /* 追加: 幅を100%に設定 */
    height: 100%; /* 追加: 高さを100%に設定 */
}
.pdf-download:hover img.download-btn-hover {
    opacity: 1;
    width: 100%; /* 追加: 幅を100%に設定 */
    height: 100%; /* 追加: 高さを100%に設定 */
}
.pdf-download:hover img.download-btn {
    opacity: 0;
    width: 100%; /* 追加: 幅を100%に設定 */
    height: 100%; /* 追加: 高さを100%に設定 */
}

/* 本の表裏を横並びにするためのコンテナ */
.book-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* セクション間のスペースを調整 */
}
.book {
    text-align: center;
}
.book img {
    min-width: 50%;
    max-width: 100%; /* 幅を100%に設定 */
    height: auto;
    display: block;
    margin: 0 auto;
}
/* book_omoteとbook_uraの画像 */
.book_omote img, .book_ura img {
    min-width: 50%;
    max-width: 100%; /* 幅を100%に設定 */
    height: auto;
    display: block;
    margin: 0 auto;
}
.book_omote_img img, .book_ura_img img {
    min-width: 50%;
    max-width: 70%; /* 幅を100%に設定 */
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-white {
    text-align: center;
    margin-bottom: 40px;
}
.line-white img {
    min-width: 50%;
    max-width: 100%; /* 幅を100%に設定 */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* フッターを中央揃え */
footer {
    display: flex;
    flex-direction: column; /* 要素を縦に並べる */
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: none;
    color: #fff;
}

/* フッター内のリンク風表示 */
.view-link {
    cursor: pointer;
    color: #fff; /* リンクを白に変更 */
    text-decoration: underline;
    margin: 0 5px;
}

/* フッター内のリンクホバー時 */
.view-link:hover {
    color: #ddd; /* ホバー時に少し灰色がかった色に */
    text-decoration: none;
}

/* バージョン情報のスタイル */
#version-info {
    margin-top: 10px;
    font-size: 12px;
    color: #bbb; /* バージョン情報を少し目立たなくする */
}

/* 注意書きの文字サイズを小さくする */
.notice {
    font-size: 0.8em; /* 例: 文字サイズを80%に設定 */
}

/* YouTube動画セクション */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9のアスペクト比 */
    overflow: hidden;
    margin-bottom: 40px;
}
.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
}

/* モーダルのスタイル */
.modal {
    display: none; /* デフォルトでは非表示 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* 背景を半透明に */
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    animation: fadeIn 0.3s; /* ふわっと表示 */
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* エンディングのタイトル */
.ending-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #CECEBB;
    text-decoration: underline;
    text-decoration-color: #CECEBB; /* 下線の色を文字色と同じに設定 */
}